<ul class="inline">
  <li>{{comment.user.name}}</li>
  <li>
    <div class="comment-info">
      {{comment.createdAt}}
    </div>
    <div class="comment-text">
      {{comment.text}}
    </div>
  </li>
</ul>