<form accept-charset="UTF-8" {{action save on="submit"}}>
  <div class="control-group">
    <label class="control-label" for="text"><h4>New Comment</h4></label>
    <div class="controls">
      {{view Ember.TextArea valueBinding="text" rows="5" cols="40"}}
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button class="btn" type="submit">Submit</button>
    </div>
  </div>
</form>