<h2 class="headline">Posts {{subtitle}}</h2>

<div>
  {{#linkTo 'posts.new'}}Create a post{{/linkTo}}
</div>

<div id="posts">
    {{!--debugger --}}
    <ul class="unstyled">
    {{#each post in arrangedContent}}
        {{view EmberBlog.PostInListView contentBinding="post"}}
    {{else}}
        Sorry, no posts to display
    {{/each}}
    </ul>
</div>