<form accept-charset="UTF-8">
  <div>
    <label for="post_title">Title</label>
    <br>
    <input autofocus="autofocus" id="post_title" name="post[title]" size="30" type="text" value="" />
  </div>
  <div>
    <label for="post_body">Text</label>
    <br>
    <textarea id="post_body" name="post[body]" cols="50" rows="20" value="" />
  </div>
  <div>
    <label for="post_teaser">Teaser</label>
    <br>
    <textarea id="post_teaser" name="post[teaser]" cols="50" rows="10" value="" />
  </div>
  <div><input name="commit" type="submit" value="Sign up" /></div>
</form>